#loginboxwrapper
  #loginbox
    %h1
      = image_tag "logo_neue.png"
    %form(action='/auth/facebook' method='post')
      %button(type='submit') Login with Facebook

- content_for :scripts do
  = include_javascripts :login
  
