#loginboxwrapper
  #loginbox
    %h1
      %img(src="/assets/logo.png" alt="logo")
    %form(action='/auth/facebook' method='post')
      %button(type='submit') Login with Facebook
    %p.tagline
      Your intelligent office Jukebox.
