%header
  #info
    %h1
      %span.pictos m
      Warble
    #profile
      %span#name= @user.name
      %span#toolbar
        %a#settings(href='#' title='Settings') y
        %a#logout(href='/logout' title='Logout') -

  #controls
    %a#play 4
    %a#forward 7

  #playing

#panes
  #queue
    %ul#songs
  #add
    %h2
      %span.pictos +
      Add music
    %p

%footer
  %a(href='#')
