%header
  #info
    %h1
      %span.pictos m
      Warble
    #profile
      %span#name= @user.name
      %span#toolbar
        %a#settings(href='#' title='Settings') y
        %a#logout(href='/logout' title='Logout') -

  #controls
    %a#play 4
    %a#forward 7

  #playing
    %img#cover(src='/images/img.jpg')
    #artist Passion Pit
    #title Better Things

#queue
  %ul#songs

%footer
  %a(href='#')
    %span.pictos +
    Add music
