%header
  #info
    %h1
      %span.pictos m
      Warble
    #profile
      %span#name= @user.name
      %span#toolbar
        %a#settings(href='#' title='Settings') y
        %a#logout(href='/logout' title='Logout') -

  #controls
    %a#play(href='#') 4
    %a#forward(href='#') 7

  #playing

#add
#spinner
  %img(src='/images/spinner.png')
#queue
%ul#songs

:javascript
  WEB_SOCKET_SWF_LOCATION = 'http://localhost:8080/socket.io/lib/vendor/web-socket-js/WebSocketMain.swf';
%script(src='//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
%script(src='/javascripts/underscore.js')
%script(src='/javascripts/backbone.js')
%script(src='http://localhost:8080/socket.io/socket.io.js')
%script(src='/javascripts/jquery.mapkey.js')
%script(src='/javascripts/handlebars-0.9.0.pre.4.js')
%script(src='/coffeescript/application.js')
