#profile
  %img{ src: @user.photo_url }
  #name= @user.name
  #email= @user.email
  #toolbar
    %a#settings.pictos(href='#' title='Settings') y
    %a#logout.pictos(href='/logout' title='Logout') -

#current
#queue
#search
