!!! 5

%html
  %head
    %meta{ :charset => "utf-8" }/

    %title Warble @ Midnight

    %link(href='/styles.css' rel='stylesheet' type='text/css')

  %body{ :lang => 'en' }
    = yield

    %script(src='//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    %script(src='/javascripts/underscore.js')
    %script(src='/javascripts/backbone.js')
    %script(src='http://localhost:8080/socket.io/socket.io.js')
    %script(src='/javascripts/jquery.mapkey.js')
    %script(src='/javascripts/handlebars-0.9.0.pre.4.js')
    %script(src='/application.js')
