:css
  h1 { font-family: 'Crushed', arial, serif; font-size: 48px}
%h1 Warble
%form(action='/auth/google_apps' method='post')
  %img(src='/images/google_128.png')
  %input(type='submit' value='Sign in with Google Apps')
