@import url(/stylesheets/pictos.css)
@import 'compass'
@import 'compass/reset'

@import '_tooltips'
@import '_fbutton'
@import 'player'

// colors from http://colorschemedesigner.com/#5y321G6KNFMVG
$primary:              #F90022
$secondary_a:          #FDBE09
$secondary_b:          #02B4CD
$complementary:        #39EB00

$primary_dark:         #840012
$secondary_a_dark:     #884100
$secondary_b_dark:     #00606D
$complementary_dark:   #1E7D00

$primary_bright:       #FE7588
$secondary_a_bright:   #FFB775
$secondary_b_bright:   #75EAFB
$complementary_bright: #95FD74

$secondary_b_brightest: #D0F6FB

$secondary_b_darkest:  #123034


$default-transition-duration: 0.2s

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)


// general styles
         
html
  margin: 0px
  padding: 0px
  background-color: #111
  color: #555
  z-index: -9
  font-family: 'Helvetica Neue', HelveticaNeue, Arial, Helvetica, sans-serif  
  font-size: 16px                                                             
  
body    
  
  height: 100%
  // gradient fade over background
  &:before
    content: ' '
    z-index: -10
    top: 0
    bottom: 0
    width: 100%

a
  text-decoration: none
  // +link-colors(#333, $primary, $primary, #333, #333)  
  
h2, h3, h4, h5
  margin: 2ex 0ex

.flex 
  position: relative 
  height: 100%
  width: 100% 
  display: block

input[type=text] 
  -webkit-appearance: none
  border: 1px solid #888
  padding: 4px 
  padding-bottom: 3px
  font-size: 13px
  color: #555  
  margin: 0px

button, .button
  @extend .uibutton
  @extend .large


h1
  font-family: 'Crushed', Arial, serif
  font-weight: normal
  color: $secondary_a
  +text-shadow(rgba(0, 0, 0, 0.4) 0px 1px 5px)

  .pictos
    color: $primary

span.pictos
  font-family: 'Pictos'
  line-height: 0


.dialog
  width: 300px
  margin: auto
  position: absolute
  top: 20%   
  left: 20%
  padding: 2ex
  z-index: 200  
  border: 6px solid rgba(255,255,255,.5)                     
  +border-radius(6px)
  +background-image(linear-gradient(rgba(225,225,225,.95), rgba(225,225,225,.8)))
  +box-shadow(rgba(0, 0, 0, 0.97) 0 0 50px)


#loginboxwrapper
  position: absolute
  top: 30%
  left: 50%

// login page

#loginboxwrapper
  width: 300px
  margin: 0 0 0 -150px

  #loginbox
    +box-shadow(rgba(0, 0, 0, 0.5) 0 0 50px)
    +border-radius(10px)
    background: rgba(255,255,255,.2)
    top: 40%
    padding: 30px
    text-align: center

    h1
      margin-bottom: 25px
      font-size: 48px

      .pictos
        font-size: 66px

    button
      @extend .uibutton
      @extend .large
      @extend .confirm
      
.top_bar
  position: absolute
  bottom: 0px
  width: 100%
  border-bottom: 1px solid rgba(0,0,0,.5)
  
header
  width: 100%
  height: 100px
  z-index: 1
  margin-top: 1%

  #controls
    float: right
    width: 120px
    margin-top: 28px
    margin-right: 18px    
    z-index: 1

    a
      display: inline-block
      @extend span.pictos
      height: 40px
      width: 40px
      +background-image(linear-gradient(#ccc, #777))
      +border-radius(25px)
      +box-shadow(black 0 0 20px)
      text-align: center
      letter-spacing: -3px   // helps center the icon
      line-height: 23px
      font-size: 25px
      color: #222
      +text-shadow(#CCC 0 1px 1px)
      margin-right: 7px
      cursor: pointer
      +transition 
      
      &:hover
        +box-shadow(black 0 0 80px)
        


  #playing   
    float: right
    width: 34%
    margin-right: 1%
    border-radius: 6px  
    height: 100%  
    z-index: -1
    +background-image(linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)))
    +box-shadow(rgba(0, 0, 0, 0.6) 0 0 10px)
    border: 1px solid #222
    
    .content
      padding: 12px

    img
      border: 1px solid #666
      +box-shadow(black 1px 1px 5px)

    .submitter
      float: right
      margin: 17px 15px

      img
        height: 32px
        width: 32px
        margin-right: 5px

    img#cover
      float: left
      height: 64px
      width: 64px
      margin-right: 20px

    #artist, #title
      +text-shadow(black 1px 1px 2px)
      +ellipsis
      color: #EEE

    #artist
      font-size: 30px
      padding: 5px 0

    #title
      font-size: 20px
      padding-bottom: 5px   // so overflow from @ellipsis doesn't cut off descenders

  #info
    width: 25%  
    float: left
   
    h1
      margin-top: 28px
      margin-left: 24px

    #profile
      text-align: left
      color: #ccc
      font-size: 14px

      #toolbar
        @extend span.pictos
        margin-left: 5px

        a
          +link-colors(#ccc, $primary, $primary, #ccc, #ccc)


// single song view global properties
.artist, .title
  font-size: 13px
  +ellipsis

.artist
  padding: 2px 0

.title
  font-weight: bold
  padding-bottom: 3px   // so overflow from @ellipsis doesn't cut off descenders

 
.spinner
  position: absolute   
  left: 0px
  top: 0px
  overflow: hidden
  display: none 
  +background-image(linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.7)))
  width: 100%
  height: 100% 
  z-index: 10 
  border-radius: 5px
  
  img
    margin: 20% 48%
    -webkit-animation-name: spin
    -webkit-animation-duration: 1s
    -webkit-animation-iteration-count: infinite
    -webkit-animation-timing-function: linear
    
#add, #queue
  min-height: 500px
  border-radius: 6px
  margin: 1%  
  margin-right: 0px
    

#add
  width: 63%
  height: 100%
  position: relative
  top: 2px
  float: left  
  overflow: auto
  +background-image(linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,.75)))
  +box-shadow(rgba(0, 0, 0, 0.9) 0 0 15px)
  
  .content 
    padding: 15px

  &::-webkit-scrollbar  
    width: 6px
  &::-webkit-scrollbar-track
    padding: 12px
    background: rgba(0, 0, 0, 0.3)
  &::-webkit-scrollbar-thumb   
    background: rgba(0, 0, 0, 0.3)
    -webkit-border-radius: 3px

  *:not(.button, .uibutton):not(h2)
    font-size: 15px
    +text-shadow(#DDD 0 1px 1px)

  .breadcrumbs
    padding-bottom: 5px
    border-bottom: 1px dotted #888
    a
      color: #333
    .current
      font-weight: bold

  h2, ul#sources a
    color: rgba(0,0,0,.85)
    font-weight: bold
    +text-shadow(rgba(255,255,255,.33) 0 1px 1px)

  p
    font-size: 16px

  p, ul, form
    margin-top: 10px

  ul, form, .breadcrumbs
    margin-bottom: 15px

  form
    input
      margin-right: 10px

  ul#sources  
    margin-top: -15px
    li           
      padding: 1%
      margin: 1%
      float: left
      width: 46%
      border-bottom: 1px solid rgba(0,0,0,.15)
      height: 32px 
      
      img
        margin-right: 15px
        height: 32px
        vertical-align: middle

  ul#pandora_stations
    li
      // font-weight: bold
      padding: 10px 0px

  ul#pandora_songs
    li
      padding: 10px 0

      label
        input
          float: right
          margin-top: 9px
          width: 14px    // largest browser checkboxes
          height: 14px

        input:checked + .song   // darker titles for selected songs
          color: black

      .song
        color: #444

        img    // TODO: this is copied from the queue li's, consolidate them
          float: left
          height: 32px
          width: 32px
          margin-right: 10px
          border: 1px solid #EEE
          +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)


  #youtube_query, #search_query     // TODO: combine
    width: 220px

  #youtube_search_results
    li  // TODO: combine with pandora_songs list
      height: 72px
      padding: 10px 0
      float: left
      width: 50%

      img   // TODO: compied from pandora_songs list, consolidate them
        float: left  
        width: 100px
        margin-right: 10px
        border: 1px solid #EEE
        +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)

      .title
        margin-top: 10px

  a.button
    &#select_all, &#next_results
      float: right
      margin-right: 0px   // TODO: if remove above 10px right margin, then remove this
  
table.browser
  width: 100%   
  thead
    border-bottom: 1px solid rgba(0,0,0,.33)
  th
    padding: 2ex 0px
    font-size: 11px
    font-weight: bold
    text-transform: uppercase  
  img
    height: 32px

#queue
  +background-image(linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)))
  border: 1px solid #222
  float: left
  width: 34%
  height: 100%
  +box-shadow(rgba(0, 0, 0, 0.6) 0 0 10px)
  z-index: -1   // below ul#songs, above #add

ul#songs
  padding: 20px
  li 
    height: 62px
    border-top: 1px solid rgba(255,255,255,.8)
    margin-bottom: 8px
    border-radius: 3px
    margin-bottom: 4px
    +box-shadow(rgba(0, 0, 0, 0.6) 0 0 10px)
    +background-image(linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.5)))
    img
      +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)
      border: 1px solid #EEE

    .submitter
      float: right
      margin: 17px 15px
      font-size: 12px   // TODO: remove these text styles if we never put names
      text-transform: uppercase
      color: #444
      +text-shadow(white 0 1px 1px)

      img
        height: 24px
        width: 24px

    img.cover
      float: left
      height: 32px
      width: 32px
      margin: 15px

    .name
      margin-top: 15px

      .artist, .title
        font-size: 14px
        color: rgba(0,0,0,.8)
        +text-shadow(rgba(255,255,255,.33) 0 1px 1px)

  &:after
    content: '\2190\00a0\00a0 Add Songs from over there...'
    display: block
    padding: 16px
    font-weight: bold
    font-size: 12px
    color: rgba(255,255,255,.6)
    +text-shadow(rgba(0,0,0,.5) 0 1px 0px)


.clear 
  width: 100%
  height: 0px 
  display: block
  clear: both