# Check if the spinner is showing
window.Utils = Utils ? {}

Utils.spinnerShown = () ->
   el = $('body')
   spinner = $('> div.loading', el)
   !spinner.hasClass('hidden') && spinner.length

Utils.toggleLoadingSpinner = (show) ->
  el = $('body')
  spinner = $('> div.loading', el)
  if !spinner.size()
    spinner = $("""
      <div class='loading loading-bezel hidden animate'>
        <img src="<%= asset_path('spinner-small-white.png') %>" alt='loading...' class='spinner' />
      </div>
    """).appendTo(el)
  # content.toggleClass 'mask', show

  if show
    spinner.toggleClass 'popin', on
    spinner.toggleClass 'popout', off
    spinner.toggleClass 'hidden', off
  else
    spinner.toggleClass 'popin', off
    spinner.toggleClass 'popout', on
    setTimeout ->
      spinner.toggleClass 'hidden', on
      spinner.toggleClass 'popin', off
    , 250

  spinner
