%header
  #info
    %h1
      %span.pictos m
      Warble
    #profile
      %span#toolbar
        %a#settings(href='#' title='Settings') y
        = link_to '-', logout_path, title: 'Logout', method: 'delete'

  #controls
    %a#play(href='#') 4
    %a#forward(href='#') 7
    #volume(data-volume='#{@jukebox.volume}')

  #playing

#add
#spinner
  = image_tag 'spinner.png'
#queue
%ul#songs

- content_for :scripts do
  = javascript_include_tag 'application', debug: Rails.env.development?
