%header
  #info
    %h1
      = image_tag "logo.png"
    #profile
      %span#toolbar
        %a#settings(href='#' title='Settings') y
        %a#logout(href='/logout' title='Logout') -

  #controls
    %a#play(href='#') 4
    %a#forward(href='#') 7

  #playing
    .content
#add
  .content
  .spinner
    %img(src='/images/spinner.png')
#queue  
  %ul#songs

- content_for :scripts do
  = include_javascripts :application
