<div class="breadcrumbs">
  <a href="/" data-relative="true">Sources</a>
  &raquo;
  <span class="current">The Hype Machine</span>
</div>

<h2>The Hype Machine</h2>

<ul id="pandora_stations">
  <li><a href="/hype/latest/1" data-relative="true">Latest</a></li>
  <li><a href="/hype/popular/3days/1" data-relative="true">Popular - Last 3 Days</a></li>
  <li><a href="/hype/popular/week/1" data-relative="true">Popular - Last Week</a></li>
</ul>

<label>
  HypeM User:
  <input type="text" id="username_query" />
</label>
<a href="#" class="button" id="username_search">Go</a>
