<form class="form-stacked form-bordered" action="/app/pandora/credentials" method="post">
  <h2>Sign In to Pandora</h2>
  <p>Enter your pandora username and password so we can grab your stations.</p>
  <input type="text" name="pandora_username" placeholder="Email" />
  <input type="password" name="pandora_password" placeholder="Password" />
  <button class="button plastic-button">Login to Pandora</button>
</form>
