<h2>Your Stations</h2>

<ul id="pandora_stations">
  {{#stations}}
  <li><a href="/pandora/stations/{{id}}" data-relative="true">{{name}}</a></li>
  {{/stations}}
</ul>

{{^stations}}
<p><em>You have no stations. Login to Pandora to add some.</em></p>
{{/stations}}

<a href="#" class="button" id="pandora_logout">Log out of Pandora</a>
