<h2>Pandora Credentials</h2>
<p>Enter your pandora username and password so we can grab your stations.</p>
<form id="pandora_credentials" action="/app/pandora/credentials" method="post">
  <input type="text" name="pandora_username" placeholder="Email" />
  <input type="password" name="pandora_password" placeholder="Password" />
  <button>Save</button>
</form>
