{{#current}}
  <audio src="{{url}}" type="audio/mp3" autoplay />
  <img id="cover" src="{{cover_url}}" />
  <div id="artist">{{artist}}</div>
  <div id="title">{{title}}</div>
{{^}}
  <img id="cover" src="" />
  <div id="artist">Nothing to Play</div>
  <div id="artist">Nothing to Play</div>

{{/current}}
