<div class="breadcrumbs">
  <a href="/" data-relative="true">Sources</a>
  &raquo;
  <span class="current">SoundCloud</span>
</div>

<h2>SoundCloud</h2>

<input type="text" id="soundcloud_query"/>
<a href="#" class="button" id="soundcloud_search">Search</a>

<div id="soundcloud_search_results"></div>
