<ul id="sources">
  <li>
    <a href="#!/pandora/stations">
      <%= image_tag 'pandora.png' %>
      Pandora
    </a>
  </li>
  <li>
    <a href="#!/youtube">
      <%= image_tag 'youtube.png' %>
      YouTube
    </a>
  </li>
  <li>
    <a href="#!/hype">
      The Hype Machine
    </a>
  </li>
  <li>
    <a href="#!/search/">
      Library Search
    </a>
  </li>
</ul>
