<ul id="sources">
  <li>
    <a href="/pandora/stations" data-relative="true">
      <%= image_tag 'pandora.png' %>
      Pandora
    </a>
  </li>
  <li>
    <a href="/rdio" data-relative="true">
      Rdio
    </a>
  </li>
  <li>
    <a href="/youtube" data-relative="true">
      <%= image_tag 'youtube.png' %>
      YouTube
    </a>
  </li>
  <li>
    <a href="/hype" data-relative="true">
      The Hype Machine
    </a>
  </li>
  <li>
    <a href="/search" data-relative="true">
      Library Search
    </a>
  </li>
</ul>
