<div>close</div>
<object width="350" height="208">
<param name="movie" value="http://www.youtube-nocookie.com/v/{{youtube_id}}?version=3&hl=en_US&rel=0&autohide=1&theme=light&color=white">
</param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always">
</param>
<embed src="http://www.youtube-nocookie.com/v/{{youtube_id}}?version=3&hl=en_US&rel=0&autohide=1&theme=light&color=white" type="application/x-shockwave-flash"
width="350" height="208" allowscriptaccess="always" allowfullscreen="true">
</embed>
</object>