<div class="breadcrumbs">
  <a href="/" data-relative="true">Sources</a>
  &raquo;
  <span class="current">YouTube</span>
</div>

<h2>YouTube</h2>

<input type="text" id="youtube_query"/>
<a href="#" class="button" id="youtube_search">Search</a>

<div id="youtube_search_results"></div>
