@import url(http://fonts.googleapis.com/css?family=Crushed)
// TODO: proper asset helper
@import url(/assets/pictos.css)
@import 'compass'
@import 'compass/reset'

@import '_tooltips'

// colors from http://colorschemedesigner.com/#5y321G6KNFMVG
$default-border-radius: 3px
$primary:              #F90022
$secondary_a:          #FF7A00
$secondary_b:          #02B4CD
$complementary:        #39EB00

$primary_dark:         #840012
$secondary_a_dark:     #884100
$secondary_b_dark:     #00606D
$complementary_dark:   #1E7D00

$primary_bright:       #FE7588
$secondary_a_bright:   #FFB775
$secondary_b_bright:   #75EAFB
$complementary_bright: #95FD74

$secondary_b_brightest: #D0F6FB

$secondary_b_darkest:  #123034


$default-transition-duration: 0.2s

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

// z-indexes (from lowest to highest)
$z-body-gradient:    -10
$z-body:              -9
$z-queue-background:  -3
$z-add:                1
$z-add-spinner:        2
$z-header:             3

@mixin card-style
  padding: 20px
  +box-shadow(rgba(0,0,0,.33) 0px 1px 8px)
  background: image-url('/assets/white_noise.png')
  +border-radius()



// general styles

*
  +box-sizing(border-box)

body
  background: image-url('/assets/wood.jpg') fixed
  color: #555
  position: relative
  z-index: $z-body
  font-family: Roboto, 'Helvetica Neue', HelveticaNeue, Arial, Helvetica, sans-serif
  overflow: hidden

  // gradient fade over background
  &:before
    content: ' '
    position: fixed
    z-index: $z-body-gradient
    top: 0
    bottom: 0
    width: 100%
    // +background-image(linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0)))

.ultralight
  //font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif
  // font-weight: 300

a
  text-decoration: none
  +link-colors(#333, $primary, $primary, #333, #333)

input
  padding: 10px
  font-size: 14px
  color: #555

input, button, .button
  border: 0
  font-weight: 500

button, .button
  display: inline-block
  position: relative
  padding: 8px 14px 9px
  color: white
  background: #222
  +border-radius(5px)
  +box-shadow(rgba(0, 0, 0, 0.5) 0 1px 3px)
  +text-shadow(rgba(0, 0, 0, 0.25) 0 -1px 1px)
  border-bottom: 1px solid rgba(0, 0, 0, 0.25)
  font-size: 18px
  line-height: 1
  cursor: pointer

  &:hover
    background: #111
    color: white
    +transition

  &:active
    top: 1px

h1
  font-family: 'Crushed', Arial, serif
  font-weight: normal
  color: $secondary_a
  +text-shadow(rgba(0, 0, 0, 0.4) 0px 1px 5px)

  .pictos
    color: $primary

span.pictos
  font-family: 'Pictos'
  line-height: 0



#loginboxwrapper
  position: fixed
  top: 50%
  left: 50%

// login page

#loginboxwrapper
  width: 300px
  margin: 0 0 0 -150px

  #loginbox
    +box-shadow(rgba(0, 0, 0, 0.5) 0 0 50px)
    +border-radius(10px)
    +background-image(linear-gradient(white, #bbb))
    top: 40%
    padding: 30px
    text-align: center

    h1
      margin-bottom: 25px
      font-size: 48px

      .pictos
        font-size: 66px

    button
      padding: 13px 10px 14px 45px
      background: #333 image-url('/assets/facebook_32.png') no-repeat 8px center

      &:hover
        background: #111 image-url('/assets/facebook_32.png') no-repeat 8px center

// youtube player
#ytplayer_wrapper
  height: 100%
  width: 100%
  position: fixed

// pandora player
#player_wrapper
  position: fixed   // with body relative, this is a pain
  top: 50%
  left: 50%
  width: 800px
  margin-top: -135px
  margin-left: -400px

  #player
    +box-shadow(rgba(0, 0, 0, 0.5) 0 0 50px)
    +border-radius(10px)
    +background-image(linear-gradient(white, #bbb))
    height: 120px
    padding: 75px

    &:after
      content: ' '
      clear: both

    img#cover
      float: left
      height: 120px
      width: 120px
      margin-right: 20px

    #artist, #title
      @extend .ultralight
      +text-shadow(#FFF 0px 1px 1px)
      +ellipsis

    #artist
      font-size: 48px
      color: #444
      padding: 10px 0

    #title
      font-size: 36px
      color: #555
      padding-bottom: 10px  // so overflow from @ellipsis doesnt cut off descenders



// app

#left
  float: left
  margin: 0 30px


.metadata
  +card-style()
  display: block
  +border-bottom-left-radius(3px)
  +border-bottom-right-radius(3px)

  p
    +text-shadow(#fff 0px 1px 1px)
    +ellipsis
    color: #545454

  .title, .artist
    font-weight: bold

  .artist, .album
    font-size: 12px

  .title
    font-size: 16px
    padding-bottom: 5px   // so overflow from @ellipsis doesnt cut off descenders



#playing
  width: 320px
  img
    border: 1px solid #666

  .voters
    float: right
    margin: 17px 15px

    img
      height: 32px
      width: 32px
      margin-right: 5px

  .submitter
    position: absolute
    top: 45px
    left: 45px

    img
      height: 24px
      width: 24px

  img#cover
    display: block
    height: 320px
    width: 320px


#forward, #vote
  display: inline-block
  @extend span.pictos
  height: 40px
  width: 40px
  +background-image(linear-gradient(#ccc, #777))
  +border-radius(20px)
  +box-shadow(black 0 0 2px)
  text-align: center
  letter-spacing: -3px   // helps center the icon
  line-height: 25px
  font-size: 25px
  color: #222
  +text-shadow(#CCC 0 1px 1px)
  margin-right: 7px
  cursor: pointer

  .vote-icon
    display: inline-block
    width: 24px
    height: 24px
    background: url('/assets/like.png') no-repeat center center

  &:hover
    +background-image(linear-gradient($primary, darken($primary, 20%)))
    color: white
    +text-shadow(#222 0 -1px 1px)

    .vote-icon
      background: url('/assets/like-hover.png')

//
    #info
      margin-left: 200px

      h1
        font-size: 36px

        .pictos
          font-size: 50px

      #profile
        margin-top: 10px
        text-align: right
        color: #ccc
        font-size: 14px

        #toolbar
          @extend span.pictos
          margin-left: 5px

          a
            +link-colors(#ccc, $primary, $primary, #ccc, #ccc)


// single song view global properties
.artist, .title
  font-size: 13px
  +ellipsis

.artist
  padding: 2px 0

.title
  font-weight: bold
  padding-bottom: 3px   // so overflow from @ellipsis doesn't cut off descenders


#spinner
  display: none
  background: rgba(0, 0, 0, 0.3)
  width: 353px  // 3px over #adds width for its border
  z-index: $z-add-spinner

  img
    float: right
    margin: -15px -10px 0 0
    -webkit-animation-name: spin
    -webkit-animation-duration: 1s
    -webkit-animation-iteration-count: infinite
    -webkit-animation-timing-function: linear

#add
  z-index: $z-add
  margin-right: 30px
  overflow: auto
  +box-shadow(rgba(0,0,0,.33) 0px 1px 8px)
  +border-radius(3px)
  background: image-url('/assets/white_noise.png')
  border-right: 3px solid rgba(0, 0, 0, 0)  // only way to add margin to styled scrollbar

  &::-webkit-scrollbar
    width: 6px
  &::-webkit-scrollbar-track
    margin: 10px
  &::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.5)
    -webkit-border-radius: 3px

  .breadcrumbs
    padding-bottom: 5px
    border-bottom: 1px dotted #888
    a
      color: #333
    .current
      font-weight: bold
      color: $secondary_b_darkest

  h2
    font-size: 24px
    color: #333
    padding-bottom: 7px
    +text-shadow(rgba(255, 255, 255, 0.4) 0 1px 1px)

  p
    font-size: 14px

  p, ul, form
    margin-top: 10px

  ul, form, .breadcrumbs
    margin-bottom: 15px

  form
    input
      margin-right: 10px

  ul#sources
    li
      font-size: 14px
      font-weight: bold
      display: inline-block

      img
        display: inline-block
        margin-right: 4px
        width: 16px
        height: 16px

  ul#pandora_stations
    li
      font-weight: bold

      &:before
        @extend span.pictos
        margin-right: 7px
        content: 'm'
        color: darken($secondary_a_dark, 15%)
        font-size: 18px

  ul#pandora_songs, ul#search_results
    label
      input
        float: right
        margin-top: 9px
        width: 14px    // largest browser checkboxes
        height: 14px

      input:checked + .song   // darker titles for selected songs
        color: black

      img    // TODO: this is copied from the queue li\s, consolidate them
        float: left
        height: 32px
        width: 32px
        margin-right: 10px
        border: 1px solid #EEE
        +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)


  #youtube_query, #search_query     // TODO: combine
    width: 220px

  #youtube_search, #library_search, #username_search  // TODO: combine
    margin-left: 15px

  #youtube_search_results
    li  // TODO: combine with pandora_songs list
      height: 48px

      &.preview
        padding-bottom: 220px

      img   // TODO: compied from pandora_songs list, consolidate them
        float: left
        height: 48px
        width: 48px
        margin-right: 10px
        border: 1px solid #EEE
        +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)

      .title
        margin-top: 10px


  a.button
    font-size: 13px
    background: $secondary_a_dark
    color: white
    padding: 5px 12px 6px
    margin-right: 10px   // TODO: necessary?

    &:hover
      background: darken($secondary_a_dark, 10%)

    &#select_all, &#next_results
      float: right
      margin-right: 0px   // TODO: if remove above 10px right margin, then remove this

#queue
  background: #DDD
  +box-shadow(rgba(0, 0, 0, 0.6) 0 0 10px)
  z-index: $z-queue-background

ul#songs
  width: 320px
  overflow-y: auto

  li
    +card-style

    img
      +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)

    .submitter
      float: right
      margin: 17px 15px
      font-size: 12px   // TODO: remove these text styles if we never put names
      text-transform: uppercase
      color: #444
      +text-shadow(white 0 1px 1px)

      img
        height: 24px
        width: 24px

    img.cover
      display: inline-block
      float: left
      height: 32px
      width: 32px
      margin-right: 16px

.ui-slider-horizontal
  height: .4em
  width: 87px

.ui-slider
  .ui-slider-handle
    width: .8em
    height: .8em
  margin-top: 14px
