@import 'pictos'
@import 'roboto'
@import 'compass'
@import 'compass/reset'
@import 'effects'
@import 'spinner'
@import 'slider'
@import '_tooltips'

$left-column-width: 320px
$small-artwork-size: 32px
$card-style-padding: 20px
$default-font: Roboto, 'Helvetica Neue', HelveticaNeue, Arial, Helvetica, sans-serif


// colors from http://colorschemedesigner.com/#5y321G6KNFMVG
$default-border-radius: 3px
$primary:              #F90022
$secondary_a:          #FF7A00
$secondary_b:          #02B4CD
$complementary:        #39EB00

$primary_dark:         #840012
$secondary_a_dark:     #884100
$secondary_b_dark:     #00606D
$complementary_dark:   #1E7D00

$primary_bright:       #FE7588
$secondary_a_bright:   #FFB775
$secondary_b_bright:   #75EAFB
$complementary_bright: #95FD74

$secondary_b_brightest: #D0F6FB

$secondary_b_darkest:  #123034

$application-margin:   30px

$default-transition-duration: 0.2s

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

// z-indexes (from lowest to highest)
$z-body-gradient:    -10
$z-body:              -9
$z-queue-background:  -3
$z-add:                1
$z-add-spinner:        2
$z-header:             3

@mixin grey-border
  border: 1px solid rgba(162,164,166,.5)

@mixin avatar($size:48px, $over-dark:true)
  +border-radius(2px)
  height: $size
  width: $size
  overflow: hidden
  @if $over-dark
    +box-shadow(rgba(0,0,0,.33) 0 1px 4px)
  @else
    +box-shadow(rgba(0,0,0,.66) 0 1px 0 inset, rgb(255,255,255) 0 1px 0)
  img
    height: 100%



@mixin card-style
  padding: $card-style-padding
  +box-shadow(rgba(0,0,0,.45) 0px 1px 12px)
  background: image-url('/assets/white_noise.png')
  +border-radius()

%button-active
  color: rgba(0,0,0,.33)
  border-color: rgba(0,0,0,.33)
  +box-shadow(rgba(0,0,0,.45) 0px 1px 8px inset, rgba(255,255,255,.33) 0px 1px 0)

%input-base
  +border-radius(2px)
  +grey-border
  color: rgba(0,0,0,.66)
  font-size: 14px
  +text-shadow(#fff 0px 1px 1px)
  font-family: $default-font
  font-weight: bold
  padding: 12px 16px
  margin: 2px

@mixin card-button
  @extend %input-base
  +card-style
  padding: 16px 48px
  border: 1px solid #fafafa
  +box-shadow(rgba(0,0,0,.24) 0px 1px 1px, #fff 0px 1px 1px inset)
  &:active
    @extend %button-active
    border-color: rgba(0,0,0,.66)

@mixin subtle-text
  color: rgba(0,0,0,.66)
  font-weight: bold
  font-size: 11px
  margin: 22px 0
  +text-shadow(rgba(255,255,255,.18) 0 1px 0)
  text-transform: uppercase

// general styles

*
  +box-sizing(border-box)

html, body
  height: 100%

body
  min-width: 1150px
  background: image-url('/assets/wood.jpg') fixed
  color: #555
  position: relative
  z-index: $z-body
  font-family: $default-font
  overflow-x: hidden

  // gradient fade over background
  &:before
    content: ' '
    position: fixed
    z-index: $z-body-gradient
    top: 0
    bottom: 0
    width: 100%
    // +background-image(linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0)))
a
  text-decoration: none
  // +link-colors(#333, $primary, $primary, #333, #333)
  color: #333

a.link-floating
  +subtle-text
  margin-left: 12px

input
  padding: 10px
  font-size: 14px
  color: #555

input, button, textarea, .button
  @extend %input-base
  font-weight: 500

button, .button
  display: inline-block
  position: relative
  line-height: 1
  cursor: pointer

.plastic-button
  +background(linear-gradient(rgba(255,255,255,.5), rgba(217,217,217,.5)))
  +box-shadow(#fff 0 1px 0, #fff 0px 1px 1px inset)
  &:active
    @extend %button-active

.card-button
  +card-button

.form-bordered
  background: rgba(255,255,255,.5)
  +grey-border

.form-stacked
  margin: auto
  padding: $application-margin
  margin-top: 18%
  +border-radius
  width: 450px

  h2, p
    margin-bottom: 8px

  input[type=text], input[type=password], textarea
    width: 100%
    margin: 8px 0
  input, button, textarea
    display: block

h1
  font-weight: normal
  color: $secondary_a
  +text-shadow(rgba(0, 0, 0, 0.4) 0px 1px 5px)

  .pictos
    color: $primary

p.tagline
  +subtle-text

span.pictos
  font-family: 'Pictos'
  line-height: 0



#loginboxwrapper
  position: fixed
  top: 35%
  left: 50%

// login page

#loginboxwrapper
  width: 300px
  margin: 0 0 0 -150px
  //+card-style
  text-align: center

#loginbox
  h1
    margin-bottom: 25px
    font-size: 48px
  button
    +card-button


// youtube player
#ytplayer_wrapper
  height: 100%
  width: 100%
  position: fixed

// pandora player
#player_wrapper
  position: fixed   // with body relative, this is a pain
  top: 50%
  left: 50%
  width: 800px
  margin-top: -135px
  margin-left: -400px

  #player
    +card-style
    +box-shadow(rgba(0, 0, 0, 0.5) 0 0 50px)

    &:after
      content: ' '
      clear: both

    img#cover
      float: left
      height: 120px
      width: 120px
      margin-right: 20px

    #artist, #title
      @extend .ultralight
      +text-shadow(#FFF 0px 1px 1px)
      +ellipsis

    #artist
      font-size: 48px
      color: #444
      padding: 10px 0

    #title
      font-size: 36px
      color: #555
      padding-bottom: 10px  // so overflow from @ellipsis doesnt cut off descenders



// app

.logo-in-application
  margin-top: -4px
  float: left

#info
  text-align: right
  margin: 0 $application-margin
  padding: 16px 0

#left
  float: left
  margin: 0 $application-margin


.metadata
  +card-style()
  display: block
  +border-radius(0)

  p
    +text-shadow(#fff 0px 1px 1px)
    +ellipsis
    color: #545454

  .title, .artist
    font-weight: bold

  .artist, .album
    font-size: 12px

  .title
    font-size: 16px
    padding-bottom: 5px   // so overflow from @ellipsis doesnt cut off descenders


#playing
  width: $left-column-width
  position: relative
  +box-shadow(rgba(0,0,0,.33) 0 1px 8px)
  .voters
    margin-top: 8px

  .voter
    +avatar(32px, false)

  .submitter
    +avatar(48px)
    position: absolute
    top: 8px
    left: 8px
    z-index: 100

#cover
  +border-top-left-radius(4px)
  +border-top-right-radius(4px)
  display: block
  height: $left-column-width
  width: $left-column-width
  background-color: black
  background-size: auto 100%
  background-position: center center
  background-repeat: no-repeat
  position: relative
  &:after
    +border-top-left-radius()
    +border-top-right-radius()
    position: absolute
    content: ' '
    display: block
    width: 100%
    height: 100%
    +box-shadow(rgba(255,255,255,.18) 0 1px 0 inset)
    background: image-url('/assets/album-gloss.png') no-repeat

#controls
  +card-style
  +border-top-radius(0)
  min-height: 72px

#forward, #vote
  display: inline-block
  float: left
  @extend span.pictos
  height: 40px
  width: 40px
  padding: 0
  text-align: center
  letter-spacing: -3px   // helps center the icon
  line-height: 25px
  font-size: 25px
  +border-radius(20px)
  color: rgba(0,0,0,.66)
  +text-shadow(#FFF 0 1px 0)
  margin-right: 7px
  cursor: pointer

  .vote-icon
    display: inline-block
    width: 24px
    height: 24px
    background: url('/assets/like.png') no-repeat center center

  &:active
    @extend %button-active

#volume
  display: inline-block
  float: right
  &:after
    display: block
    content: " "
    clear: both

// single song view global properties
.artist, .title, .album
  font-size: 13px
  +ellipsis

.title, .artist
  font-weight: bold
  padding-bottom: 3px   // so overflow from @ellipsis doesnt cut off descenders


#spinner
  display: none
  background: rgba(0, 0, 0, 0.3)
  width: 353px  // 3px over #adds width for its border
  z-index: $z-add-spinner

  img
    float: right
    margin: -15px -10px 0 0
    -webkit-animation-name: spin
    -webkit-animation-duration: 1s
    -webkit-animation-iteration-count: infinite
    -webkit-animation-timing-function: linear

#add
  height: 94%
  +card-style
  position: relative
  margin-right: $application-margin
  overflow: auto
  border-right: 3px solid rgba(0, 0, 0, 0)  // only way to add margin to styled scrollbar

  &::-webkit-scrollbar
    width: 6px
  &::-webkit-scrollbar-track
    margin: 10px
  &::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.5)
    -webkit-border-radius: 3px

  .breadcrumbs
    padding-bottom: 5px
    border-bottom: 1px dotted #888
    a
      color: #333
    .current
      font-weight: bold
      color: $secondary_b_darkest

  h2
    font-size: 24px
    color: #333
    padding-bottom: 7px
    +text-shadow(rgba(255, 255, 255, 0.4) 0 1px 1px)

  p
    font-size: 14px

  hr.hackyrule
    position: absolute
    width: 100%
    top: 42px
    left: 0px
    border: 0
    border-bottom: 1px solid rgba(0, 0, 0, .18)


ul#sources
  margin-top: -12px
  margin-bottom: 20px
  li
    font-size: 13px
    font-weight: bold
    display: inline-block
    margin-right: 24px
    padding: 12px
    border: 1px solid transparent

    &.selected
      position: relative
      background: image-url('/assets/white_noise.png')
      border: 1px solid rgba(0, 0, 0, .18)
      +border-top-left-radius()
      +border-top-right-radius()
      border-bottom-color: transparent

    img
      display: inline-block
      margin-right: 4px
      width: 16px
      height: 16px
      margin-bottom: -1px

ul#pandora_stations
  margin-bottom: 32px
  li
    line-height: 38px
    border-bottom: 1px solid #CCC

ul#pandora_songs, ul#search_results
  label
    input
      float: right
      margin-top: 9px
      width: 14px    // largest browser checkboxes
      height: 14px

    input:checked + .song   // darker titles for selected songs
      color: black

    img    // TODO: this is copied from the queue li\s, consolidate them
      float: left
      height: 32px
      width: 32px
      margin-right: 10px
      border: 1px solid #EEE
      +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)


#youtube_query, #search_query     // TODO: combine
  width: 220px

#youtube_search, #library_search, #username_search  // TODO: combine
  margin-left: 15px

#youtube_search_results
  li  // TODO: combine with pandora_songs list
    position: relative
    float: left
    padding: 8px
    width: 33%
    height: 375px

    .preview
      font-size: 11px
      padding: 4px 0
      font-weight: bold
      cursor: pointer

    img   // TODO: compied from pandora_songs list, consolidate them
      height: auto
      width: 100%
      +box-shadow(rgba(0, 0, 0, 0.6) 1px 1px 4px)

    .title
      margin-top: 10px


#queue
  background: #DDD
  +box-shadow(rgba(0, 0, 0, 0.6) 0 0 10px)
  z-index: $z-queue-background

#songs
  margin-top: 8px
  width: $left-column-width
  overflow-y: auto

  li
    +card-style
    margin-bottom: 8px

    img
      +box-shadow(#fff 0px 1px 1px, #000 0px 1px 4px inset)
      +border-radius(2px)

    .submitter
      float: right
      margin: 17px 15px
      font-size: 12px   // TODO: remove these text styles if we never put names
      text-transform: uppercase
      color: #444
      +text-shadow(white 0 1px 1px)

      img
        height: 24px
        width: 24px

    img.cover
      float: left
      height: $small-artwork-size
      width: $small-artwork-size
      margin-right: $small-artwork-size / 2

    .name
      display: block
      width: $left-column-width - $small-artwork-size - ($small-artwork-size / 2) - ($card-style-padding * 2)
      margin-left: $small-artwork-size + ($small-artwork-size / 2)

