{{#current}}
  <div class="submitter">
  {{#lovers}}
    <img src="{{photo_url}}" title="{{first_name}} {{last_name}}" />
  {{/lovers}}
  </div>

  {{#cover_url}}
  <img id="cover" src="{{cover_url}}" />
  {{/cover_url}}
  <div id="artist">{{artist}}</div>
  <div id="title">{{title}}</div>

{{^}}
  <div id="artist">No songs in queue</div>
{{/current}}
