<div class="breadcrumbs">
  <a href="#!/">Sources</a>
  &raquo;
  <span class="current">Search Library</a>
</div>
<input type="text" id="search_query" value="{{query}}" />
<a href="#" class="button" id="library_search">Search</a>

<table id="search_results" class='browser'>
  <thead>
  <tr>
    <th>Cover</th> 
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    </tr>
  </thead>    
  <tbody>
  {{#results}}
  <tr>
    <td><img src="{{cover_url}}" /></td>
    <td><a href="#" class="result" data-id="{{id}}">{{title}}</a></td>
    <td>{{artist}}</td>
    <td>{{album}}</td>
  </tr>
  {{/results}} 
  </tbody>
</table>
