<div class="submitter">
  <img src="{{user/photo_url}}" />
</div>

<img class="cover" src="{{cover_url}}" />
<div class="name">
  <div class="artist">{{artist}}</div>
  <div class="title">{{title}}</div>
</div>
