<div class="submitter">{{user/first_name}} {{user/last_name}}</div>
<img class="cover" src="{{cover_url}}" />
<div class="name">
  <div class="artist">{{artist}}</div>
  <div class="title">{{title}}</div>
</div>
