<ul id="sources">
  <li>
    <a href="#!/pandora/stations">
      <img src="/images/pandora.png" />
      Pandora
    </a>
  </li>
  <li>
    <a href="#!/youtube">
      <img src="/images/youtube.png" />
      YouTube
    </a>
  </li>
  <li>
    <a href="#!/search/">
      Library Search
    </a>
  </li>
</ul>
